{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">

  {% if user.is_authenticated %}
  
  <h2>Records...</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">email</th>
        <th scope="col">phone</th>
        <th scope="col">address</th>
        <th scope="col">city</th>
        <th scope="col">state</th>
        <th scope="col">zipcode</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  {% if records %}
  {% for record in records%}
  {{record.created_at}}
  {{record.first_name}}
  {{record.last_name}}
  {{record.email}}
  {{record.phone}}
  {{record.address}}
  {{record.city}}
  {{record.state}}
  {{record.zipcode}}
  <br>
  {% endfor %}
  {% endif %}
  
  {% else %}
  
  <h1>Login</h1>
  <br/>
  <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}

      <div class="mb-3">
        <input type="text" class="form-control" name="username", placeholder="Username" required>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" name="password", placeholder="Password" required>
      </div>
      <br/>
      <button type="submit" class="btn btn-secondary" >Login</button>
    </form>
  {% endif %}
</div>
{% endblock %}